<h1> Welcome home! </h1>

<form action="/search" method="GET"></form>
      <label for="city">City</label>
      <input type="text" id="city" name="city" required>
      <label for="state">State</label>
      <input type="text" id="state" name="state" required>
      <input type="submit" value="Submit">
      <a href="/favorites"></a>